/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

:root {
	--color-primary: blue;
	--color-secondary: #c00;
	--color-tertiary: lightgray;
	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
}

.title {
	color: lightgray;
	font-size: 110px;
	text-align: left;
	margin-top: 18%;
	margin-bottom: 0;
	margin-left: 30px;
}

.subtitle {
	color: lightgray;
	text-align: left;
	margin-top: 0;
	margin-left: 37px;
	font-size: 20px;
}

.question {
	color: #3c0e31;
	font-size: 65px;
	text-align: center;
	margin: 0 15px;
}

.selectall {
	color: #3c0e31;
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
}

.restart {
	width: 30px;
	height: auto;
	position: relative;
	top: 10px;
	left: 20px;
	margin-bottom: 10px;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-position: center;
	background-size: cover;
}

#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	inset: 0;
	z-index: -1;
}

.buttonone {
	background-color: #33b2dd;
	color: lightgray;
	border: none;
	padding: 15px 32px;
	display: inline-block;
	font-size: 16px;
	font-family: Arial, sans-serif;
	font-weight: 850;
	margin-left: 35px;
	border-radius: 15px;
	margin-top: 0%;
}

#quizone,
#quiztwo,
#quizthree,
#quizfour,
#resultspage {
	background-image: url('../images/quizbackground.jpg');
	background-size: cover;
	background-position: center center;
	min-height: 815px;
	overflow: clip;

}

/* #quiztwo {
	background-image: url('../images/quizbackground.jpg');
	background-size: cover;
	background-position: center center;
}

#quizthree {
	background-image: url('../images/quizbackground.jpg');
	background-size: cover;
	background-position: center center;
}

#quizfour {
	background-image: url('../images/quizbackground.jpg');
	background-size: cover;
	background-position: center center;
}

#resultspage {
	background-image: url('../images/quizbackground.jpg');
	background-size: cover;
	background-position: center center;

} */

.buttontwo,
.buttonthree,
.buttonfour,
.buttonfive,
.restartbutton {
	background-color: #3c0e31;
	color: lightgray;
	border: none;
	padding: 15px 32px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	font-weight: 850;
	margin-left: 0;
	margin-top: 10px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	margin-bottom: 10px;
}


input[type="checkbox"] {
	transform: scale(1.5);
	margin-bottom: 5%;
}

input[type="radio"] {
	transform: scale(1.5);
	margin-bottom: 10%;
}

.checkbox-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: Arial, sans-serif;
	color: #3c0e31;
	margin-left: 28%;
	margin-top: 60px;
}

.itemone {
	grid-row: span 1;
	font-family: Arial, sans-serif;
	color: #3c0e31;
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 30px;
}

.radiobutton-containerone,
.radiobutton-containertwo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-family: Arial, sans-serif;
	color: #3c0e31;
	margin-top: 30px;
	align-items: center;
	margin-left: 240px;
}




.itemtwo,
.itemthree {
	font-family: Arial, sans-serif;
	color: #3c0e31;
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 30px;
}

.resultscardcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.resultscard {
	border-radius: 12px;
	border: 1px solid var(--gray-300, #DEE2E6);
	background: var(--default-white, #FFF);
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
	padding: 20px;
	max-width: 400px;
	text-align: center;
}

.listenbutton {
	background-color: #3c0e31;
	color: lightgray;
	border: none;
	padding: 15px 32px;
	display: inline-block;
	font-size: 16px;
	font-family: Arial, sans-serif;
	font-weight: 850;
	border-radius: 15px;
}

.artistimage {
	width: 70%;
	height: 70%;
	display: inline-block;
	margin: 0 auto;
}

.artistname {
	font-family: Arial, sans-serif;
	font-weight: 850;
	color: #3c0e31;
}

.artistgenre,
.describe {
	font-family: Arial, sans-serif;
	font-weight: 650;
	color: #3c0e31;
}

/* This uses the same value as --size-xs. */
@media screen and (width <=320px) {
	.content-container {
		margin: 0;
		max-width: 1200px;
	}



	.subtitle {
		font-size: 20px;
	}



}

.hide {
	display: none;
}

.show {
	display: block;
}